.card-min-max {
    background-color: var(--color-bg-third);
    width: 100%;
    margin-top: 20px;
    border-radius: 5px;
  }
  
  .min-max input {
    margin: 20px 0 0 20px;
    height: 40px;
    width: 200px;
    border: 1px solid #c2c2c2;
    border-radius: 5px;
    font-size: 16px;
    padding-left: 10px;
  }
  
  .min-max input::placeholder {
    color: var(--color-second);
    font-size: 16px;
  }
  
  .submit button {
    background-color: var(--color-bg-first);
    color: var(--color-first);
    height: 40px;
    width: 200px;
    border: none;
    border-radius: 5px;
    margin: 20px 0 20px 20px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
  }