@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --color-bg-first: #55BC04;
  --color-bg-second: #C2C2C2;
  --color-bg-third: #FFF;

  --color-first: #FFF;
  --color-second: #C2C2C2;
  --color-third: #6F6F6F;
  --color-fourth: #55BC04;
}

* {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 body {
  background-color: var(--color-bg-second);
}

a, a:hover {
  text-decoration: none;
  color: unset;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.mt20 {
  margin-top: 20px;
}

.mb20 {
  margin-bottom: 20px;
}